<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doumengmeng.doctor">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus"/>

    <application
        android:name="com.doumengmeng.doctor.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fitsSystemWindows="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="oR7tiOEY1k6Z7iDxP8yvmqtaai8vKvsu" />

        <activity android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/GuideLauncher"
            >
        </activity>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.LoginActivity" android:theme="@style/StatusBarTheme" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.RegisterActivity" android:theme="@style/StatusBarTheme" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ForgotPwdActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.LoadingActivity" android:theme="@style/StatusBarTheme"  android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AgreementActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ChangePwdActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.DiagramDataActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CallCenterActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.HeadImageActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.HospitalListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.DepartmentActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.InputDoctorInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AccountDetailActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.PersonInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.HistoryReportActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.HistoryReportDetailActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.HospitalReportActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.HospitalReportDetailActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AssessmentParentingGuideActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MessageBoardActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AssessmentActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ParentInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AboutActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.QRActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".wxapi.WXEntryActivity" android:screenOrientation="portrait" android:exported="true"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.doumengmeng.doctor.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--百度地图-->
        <service android:name="com.baidu.location.f" android:process=":remote" android:enabled="true"> </service>
    </application>

</manifest>