<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doumengmengandroidbady">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".base.BaseApplication">
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.RegisterActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ForgotPwdActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AgreementActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.LoadingActivity" android:screenOrientation="portrait"></activity>
    </application>
</manifest>
