<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doumengmeng.customer">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:fitsSystemWindows="true"
        android:theme="@style/AppTheme"
        android:name="com.doumengmeng.customer.base.BaseApplication"
        android:fullBackupContent="false">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="jG9oLZFQToA6RhZFLN0USZolSIiijUs2" />

        <!--android:name=".activity.GuideActivity"-->
<!--        <activity
            android:name=".test.TestActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>-->
        <activity android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

<!--        <activity android:name="com.doumengmeng.customer.activity.RecordActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>-->

        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/GuideLauncher"
            >
        </activity>
        <activity android:name="com.doumengmeng.customer.activity.LoginActivity" android:theme="@style/StatusBarTheme" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.RegisterActivity" android:theme="@style/StatusBarTheme" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.ForgotPwdActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.AgreementActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.LoadingActivity" android:theme="@style/StatusBarTheme" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.MainActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name="com.doumengmeng.customer.activity.PersonCenterActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.BaseInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.ParentInfoActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.doumengmeng.customer.activity.ShopActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.ContactActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.AboutActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.SettingActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.ChangePwdActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.doumengmeng.customer.activity.BabyKnowledgeDetailsActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.HospitalReportActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.doumengmeng.customer.activity.HeadImageActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.ObserveActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.DoctorListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.SearchActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.HospitalDoctorActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.doumengmeng.customer.activity.SpacialistServiceActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.doumengmeng.customer.activity.ScanActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.doumengmeng.customer.activity.DoctorInfoActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.doumengmeng.customer.activity.InputInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.RecordActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.InputBreastFeedingActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.InputCacationActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.InputChestActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.InputDaySleepActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.InputHeadActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.InputHeightActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.InputMilkActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.InputNightSleepActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.InputWeightActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.InputMicturitionActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.doumengmeng.customer.activity.DevelopmentalBehaviorActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.doumengmeng.customer.activity.AssessmentActivity" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.doumengmeng.customer.activity.ParentingGuideActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.doumengmeng.customer.activity.DiagramDataActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.doumengmeng.customer.wxapi.WXPayEntryActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/TransparentActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:scheme="wxd0b4d1dd8772805a"></data>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.doumengmeng.customer.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--百度地图-->
        <service android:name="com.baidu.location.f" android:process=":remote" android:enabled="true"> </service>

        <!--支付宝集成-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <receiver android:name=".receiver.NotificationReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.doumengmeng.customer.show.notification"></action>
            </intent-filter>
        </receiver>

    </application>
</manifest>
